.card{
    
    font-size: 10px;
    border-bottom: 2px;
    border-color: black;
    border-radius: 10%;
    background-color: darkgray;
    height: 800px;
    width: 800px;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
        flex-direction: row;
}
.cardimage{
    height: 600px;
    width: 750px;
    border-radius: 10%;
    
    
}